.submit-button {
  margin-top: 40px;
}
.delete-button {
  // margin-top: 20px;
}

ion-label p{
 padding: 17px 0 0 0;
}

.sc-ion-label-ios-h{
  padding: 0px 0 20px 0;
  font-size: 1.2rem;
}