<ion-menu side="end" 
          menuId="first"
          contentId="principal"
          type="overlay"
          swipe-gesture="true">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>Filtros</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <h3 (click)="valor1 = !valor1" >Mi primer elemento</h3>
        <p *ngIf="valor1">
        Objeto expandido
        </p>
      </ion-item>
      
      <ion-item>Menu Item 2</ion-item>
      <ion-item>Menu Item 3</ion-item>
      <ion-item>Menu Item 4</ion-item>
      <ion-item>Menu Item 5</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>