<ion-menu side="end" 
          menuId="first"
          contentId="principal"
          type="overlay"
          swipe-gesture="true">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>Filtros</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-item [routerLink]="['/check']"  slot="start">Load Capacity</ion-item>
      <ion-item [routerLink]="['/check']"  slot="start">Aisle width for pallets 800cm X 1200cm</ion-item>
      <ion-item [routerLink]="['/check']"  slot="start">Gradeability with Load</ion-item>
      <ion-item [routerLink]="['/check']"  slot="start">Gradeability without Load</ion-item>
      <ion-item [routerLink]="['/check']"  slot="start">Drive motor ratong S2 60min</ion-item>
      <ion-item [routerLink]="['/check']"  slot="start">Voltage</ion-item>
      <ion-item [routerLink]="['/check']"  slot="start">Price</ion-item>

    </ion-list>
  </ion-content>
</ion-menu>