<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/favoritesForkLift']">
        <ion-icon ios="ios-heart" md="md-heart"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ForkLift List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="products" class="list-mini-content">
  <ion-toolbar>
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Que modelo quieres buscar ..."></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="valor1 = !valor1">
        <ion-icon slot="icon-only" name="md-funnel" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- DESPLEGABLE FILTROS -->
  <ion-card class="filter-button" *ngIf="valor1">
    AQUÍ VAN LOS FILTROS! :D
  </ion-card>

  <div *ngIf="forkliftList.length > 0 else noData">
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let forklift of items">
              <ion-card  (click)="goToDetail(forklift)" class="post">
                <img src="../../assets/imgs/{{forklift.model}}.jpg" />
                <ion-card-content>
                  <ion-card-title>
                    {{forklift.model | uppercase}}
                  </ion-card-title>
                  <p>
                    {{forklift.loadCapacity}} Kg.
                  </p>
                  <p>
                    {{forklift.price}} €.
                  </p>
                </ion-card-content>
              </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!-- SI NO HAY PRODUCTOS -->
    <div *ngIf="forkliftList.length == 0" class="empty-list">
      Please add new ForkLift.
    </div>
</ion-content>
  <!-- FIN DEL BODY -->

<ion-footer >
  <ion-toolbar color="danger">
    <ion-buttons slot="end">
      <!-- BOTÓN DEL MENÚ -->
      <ion-menu-button color="light"
          menu="first">
      </ion-menu-button>
    </ion-buttons>
    <ion-title (click)="logout()">Log out</ion-title>
  </ion-toolbar>
</ion-footer>

<!-- COMPONENTE MENÚ -->
<!-- <app-menu></app-menu> -->
<div  id="principal"></div>    

    
  
  