<ion-header>
  <ion-toolbar color="danger">
      <ion-button [routerLink]="['/check']"  slot="start" color="danger">
        <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/favoritesForkLift']">
        <ion-icon ios="ios-heart" md="md-heart" color="danger"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/new-forklift']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ForkLift List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="products" class="list-mini-content">
  <ion-toolbar>
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Que modelo quieres buscar ..."></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="valor1 = !valor1">
        <ion-icon slot="icon-only" name="md-funnel" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-card class="filter-button" *ngIf="valor1">

    AQUÍ VAN LOS FILTROS! :D


  </ion-card>

  <!-- <div *ngIf="products.length > 0" class="list-mini">
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let product of products">        
            <ion-card (click)="goToDetail(product);" class="post">
              <img [src]="product.image" />
              <ion-card-content> 
                <ion-card-title>
                  {{product.model}} con ID: {{product.id}}
                </ion-card-title>
                <p>
                  {{product.loadCapacity}} Kg.
                </p>
                <p>
                  {{product.price}} €.
                </p>  
              </ion-card-content>       
            </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->

  <div *ngIf="forkliftList.length > 0 else noData">
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let forklift of items">
              <ion-card [routerLink]="['/forkLiftDetails']">
                <img src="../../assets/imgs/{{forklift.model}}.jpg" />
                <ion-card-content>
                  <ion-card-title>
                    {{forklift.model | uppercase}}
                  </ion-card-title>
                  <p>
                    {{forklift.loadCapacity}} Kg.
                  </p>
                  <p>
                    {{forklift.price}} €.
                  </p>
                </ion-card-content>
              </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!-- SI NO HAY PRODUCTOS -->

    <div *ngIf="forkliftList.length == 0" class="empty-list">
      Please add new ForkLift.
    </div>
  </ion-content>
  <!-- FIN DEL BODY -->
  <ion-footer >

    <ion-toolbar color="danger">

      <ion-buttons slot="end">

        <ion-menu-button color="light"
          menu="first">

        </ion-menu-button>

      </ion-buttons>

      <ion-title (click)="logout()">Log out</ion-title>

    </ion-toolbar>

   </ion-footer>
  
   
    <!-- <app-menu></app-menu> -->

    <div  id="principal"></div>
  
  