.empty-list {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin-top: 40px;
  color: var(--ion-color-medium);
}

ion-col {
  padding: 0;
}

ion-card{
  margin: 8px 8px;
}

ion-card-title {
  font-size: 20px;
}


ion-button {
  margin:0px 13px;
}

