<!-- 
<ion-header>
  <ion-toolbar color="danger">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content fullscreen padding scroll-y="false" class="welcome-page-styles" >
  <ion-slides>

    <ion-slide class="intro">
      
      <h1>Welcome to </h1>
      <img src="../assets/imgs/toyota-fork.svg"/>
      <p>Swipe to the right to see our functionalities.</p>
    </ion-slide>

    <ion-slide class="slider2">
      <img src="../assets/imgs/toyota-fork.svg"/>
      <h2>Toyota Forklifts</h2>
      <p> is an APP designed to help you to find the best forklift available.</p>
    </ion-slide>

    <ion-slide class="slider2">
      <img src="../assets/imgs/toyota-fork.svg"/>
      <h2>Filter</h2>
      <p> the most suitable forklift using simple filters that you can manually choose.</p>
    </ion-slide>

    <ion-slide class="slider2">
      <img src="../assets/imgs/toyota-fork.svg"/>
      <h2>Select</h2>
      <p> the desired forklift and check its details for a specified information.</p>
    </ion-slide>

    <ion-slide class="slider2">
      <img src="../assets/imgs/toyota-fork.svg"/>
      <h2>Mark</h2>
      <p> as a favourite or add it to the shopping cart.</p>
    </ion-slide>

    <ion-slide class="slider2">
      <img src="../assets/imgs/toyota-fork.svg"/>
      <h2>All clear?</h2>
      <ion-button [routerLink]="['/login']" color="danger" class="boton-letsgo" >Let's begin</ion-button>
      <!-- <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button> -->
    </ion-slide>

  </ion-slides>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar color="danger"></ion-toolbar>
</ion-footer> -->





