<ion-header>
  <ion-toolbar color="danger">
       <ion-buttons slot="start">
        <ion-back-button [routerLink]="['/products']"></ion-back-button>
    </ion-buttons>
    <ion-title>Favorite ForkLift List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="products" class="list-mini-content" fullscreen>

  <div *ngIf="products.length > 0" class="list-mini">
      <ion-list>

          <ion-item *ngFor="let product of products">
    
            <ion-avatar slot="start" [routerLink]="['/forkLiftDetails', product.payload.doc.id]">
    
              <img [src]="product.payload.doc.data().image">
    
            </ion-avatar>
    
            <ion-label>
    
              <h2>{{product.payload.doc.data().model}}</h2>
    
              <h3>{{product.payload.doc.data().loadCapacity}} Kg.</h3>
    
              <p>{{product.payload.doc.data().price}} €.</p>
    
            </ion-label>
    
          </ion-item>
          
        </ion-list>
    
  </div>  
  <div *ngIf="products.length == 0" class="empty-list">
    Please add a new Favorite ForkLift.
  </div>
</ion-content>
 
<!-- <ion-footer (click)="logout()">
  <ion-toolbar color="medium">
    <ion-title>Log out, see you again!</ion-title>
  </ion-toolbar>
</ion-footer> -->

    




