.error-message
{
  color: var(--ion-color-danger);
}

.success-message
{
  color: var(--ion-color-success);
}

.go-to-login
{
  text-align: center;
  margin-top: 20px;
}

.submit-btn
{
  margin-top: 1rem;
}


img{
  max-height: 50%;
  max-width: 100%;
  margin: 3rem auto;
}

.go-to-login{
  color: white;
  a{
    color: #b10000;
    font-weight: bold;
  }
}

ion-input{
  color:white;
}

.error-message{
  padding: 1rem;
  font-size: 0.8rem;
}